
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            width: 70%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            color: #004d99;
        }
        h2 {
            margin-top: 0;
        }
        .section {
            margin-bottom: 20px;
        }
        .section ul {
            list-style: none;
            padding-left: 0;
        }
        .section ul li {
            margin-bottom: 10px;
        }
        .contact-info p {
            margin: 5px 0;
        }
        .skills ul {
            display: flex;
            flex-wrap: wrap;
        }
        .skills ul li {
            margin-right: 15px;
            margin-bottom: 10px;
        }
        .experience, .education {
            margin-bottom: 20px;
        }
        .experience ul, .education ul {
            padding-left: 20px;
        }
        .experience li, .education li {
            margin-bottom: 10px;
        }
        .footer {
            text-align: center;
            margin-top: 30px;
            font-size: 0.9em;
            color: #777;
        }



        /* Estilo para o Menu */
        nav {
            background-color: #333;
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        /* Estilo do Rodapé */
        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        

        .footer button:hover {
            background-color: #45a049;
        }


        /* Estilo para o Botão de Voltar */
.back-button {
    display: inline-block;
    padding: 12px 20px;
    background-color:rgba(0, 123, 255, 0.5);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de Hover */
.back-button:hover {
    background-color: rgba(0, 123, 255, 0.5);
}

/* Adicionando um efeito de foco no botão */
.back-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Ajuste do layout no rodapé */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

   
   