/* Reset de margens e padding para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 75%;
    margin: 40px auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

header .header-info {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #555;
}

strong {
    color: #333;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-info span {
    font-weight: bold;
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding-left: 0;
}

.skills li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
}

